.about-desc__container {
  max-width: 340px;
  padding: 36px 0;
}
.about__title {
  width: 200px;
  margin: 0px auto 16px auto;
}
.about__description {
  font-size: 12px;
  line-height: 15px;
}

@media (min-width: 768px) {
  .about-desc__container {
    padding: 113px 0;
    max-width: 950px;
  }
  .about__title {
    width: 500px;
    margin: 0px auto 72px auto;
  }
  .about__description {
    font-size: 25px;
    line-height: 25px;
  }
}
