.cups-dance-1 {
  transform: translateY(10px) rotate(-17deg);
  animation: pendulum-1 2s ease-in-out infinite;
}

.cups-dance-2 {
  transform: translateY(20px) rotate(-35deg);
  animation: pendulum-2 2s ease-in-out infinite;
}

.cups-dance-3 {
  transform: translateY(-18px) rotate(20deg);
  animation: pendulum-3 2s ease-in-out infinite;
}

@keyframes pendulum-1 {
  0% {
    transform: translateY(10px) rotate(-17deg);
  }
  50% {
    transform: translateY(10px) rotate(-32deg);
  }
  100% {
    transform: translateY(10px) rotate(-17deg);
  }
}

@keyframes pendulum-2 {
  0% {
    transform: translateY(10px) rotate(-5deg);
  }
  50% {
    transform: translateY(10px) rotate(-20deg);
  }
  100% {
    transform: translateY(10px) rotate(-5deg);
  }
}

@keyframes pendulum-3 {
  0% {
    transform: translateY(8px) rotate(20deg);
  }
  50% {
    transform: translateY(8px) rotate(-5deg);
  }
  100% {
    transform: translateY(8px) rotate(20deg);
  }
}

