.askModal__btn-close {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 24px;
  right: 34px;
  background-color: transparent;
}

.askModal__btn-close::before,
.askModal__btn-close::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000;
}

.askModal__btn-close::after {
  transform: rotate(45deg);
}

.askModal__btn-close::before {
  transform: rotate(-45deg);
}

/* ===== */

.ask__cup:first-child {
  margin-bottom: -15px;
}
.ask__cup {
  width: 50px;
}
.ask-modal__title {
  font-size: 20px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .ask-modal__title {
    font-size: 30px;
    line-height: 25px;
  }
}

@media (min-width: 922px) {
  .ask-modal__title {
    font-size: 40px;
    line-height: 30px;
  }
  .ask__cup {
    width: 80px;
  }
}
