.banner {
  position: relative;
  height: 211px;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__overlay,
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__content h1 {
  color: #fff;
  font-family: "Gotham Pro Medium";
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .banner {
    height: 600px;
  }

  .banner__content {
    padding-left: 70px !important;
  }

  .banner__content h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 812px;
  }

  .banner__content h1 {
    font-size: 70px;
    line-height: 90px;
  }
}
