.form__title--cont {
  padding-top: 20px;
  max-width: 900px;
}
.form__title {
  background: linear-gradient(
    94deg,
    #e5ae1f -4.17%,
    rgba(248, 93, 6, 0.99) 34.01%,
    #100601 72.18%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.form__description {
  font-size: 15px;
  line-height: 18px;
}
.form__sub-description {
}

@media (min-width: 768px) {
  .form__title--cont {
    padding-top: 30px;
  }
  .form__title {
    font-size: 35px;
    line-height: 40px;
  }

  .form__description {
    font-size: 22px;
    line-height: 22px;
  }
}

@media (min-width: 922px) {
  .form__title--cont {
    padding-top: 50px;
  }
  .form__title {
    font-size: 50px;
    line-height: 60px;
  }

  .form__description {
    font-size: 32px;
    line-height: 32px;
  }
}

.form__submit {
  padding: 0 30px;
  background-color: #fff;
  width: 200px;
  height: 50px;
  color: #000;
  text-transform: uppercase;
  border: 1px solid rgb(222, 226, 230);

  font-size: 12px;
  transition: all 0.3s ease;
}

.form__submit:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: rgba(255, 255, 255, 0.276) 0px 16px 48px 0px !important;
}

@media (min-width: 768px) {
  .form__submit {
    padding: 0 45px;
    width: 360px;
    height: 80px;

    font-size: 16px;
    line-height: 22px;
  }
}
