.star {
  color: red;
}

.form-control:focus {
  border-color: rgba(244, 169, 12, 0.2);
  box-shadow: 0 0 0 0.1rem rgba(243, 146, 0, 0.5);
}
.flatpickr-day.selected {
  border-color: rgba(244, 169, 12, 0.9) !important;
  background: rgba(244, 169, 12, 0.9) !important;
}

.select2-container .select2-selection--single {
  height: 58px !important;
  width: 100% !important;
  position: relative;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 58px !important;
  text-align: initial !important;
}

.select2-selection__arrow {
  top: 16px !important;
  right: 10px !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(244, 169, 12, 0.9) !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid rgb(222, 226, 230) !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #000 !important;
}
@media (min-width: 850px) {
  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: #000 !important;
  }
}
.big-textarea>.form-control:not(:placeholder-shown) {
    padding-top: 2.625rem;
}



/* ====== */

.form__submit {
  padding: 0 30px;
  background-color: #fff;
  width: 200px;
  height: 50px;
  color: #000;
  text-transform: uppercase;
  border: 1px solid rgb(222, 226, 230);

  font-size: 12px;
  transition: all 0.3s ease;
}

.form__submit:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: rgba(255, 255, 255, 0.276) 0px 16px 48px 0px !important;
}

@media (min-width: 768px) {
  .form__submit {
    padding: 0 45px;
    width: 360px;
    height: 80px;

    font-size: 16px;
    line-height: 22px;
  }
}
