@font-face {
  font-family: "Gotham Pro Regular";
  src: url("../fonts/GothaProReg.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothaProMed.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Pro Bold";
  src: url("../fonts/GothaProBol.otf") format("opentype");
  font-weight: bold;
}
body {
  font-size: 14px;
  font-family: "Gotham Pro Regular";
  color: #000 !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-family: "Gotham Pro Regular";
  text-decoration: none !important;
  text-transform: uppercase;
  cursor: pointer;
  color: #000 !important;
}

button {
  font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
}

.color-grey {
  color: #828282 !important;
}

.fw-m {
  font-family: "Gotham Pro Medium";
  font-weight: normal;
}
.fw-b {
  font-family: "Gotham Pro Bold";
  font-weight: bold;
}

.fs-10 {
  font-size: 10px;
}
/* .fs-14 {
  font-size: 14px;
} */
/* .fs-48 {
  font-size: 48px;
} */

.fs-nav-link {
  font-size: 18px;
  font-family: "Gotham Pro Medium";
  font-weight: normal;
}

@media (min-width: 992px) {
  .navbar {
    height: 110px;
  }
  .fs-nav-link {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .footer-cont {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .column-mob {
    writing-mode: tb-rl;
    transform: scale(-1);
    white-space: nowrap;
  }
}

.logo_main {
  width: 150px;
}
@media (min-width: 992px) {
  .logo_main {
    width: 300px;
  }
}
.main-gradient {
  width: 100%;
  height: 22px;
  background: linear-gradient(
    90deg,
    #f39200 0%,
    #f4a90c 20%,
    #f7d01f 48%,
    #6d100a 100%
  );
}
@media (min-width: 992px) {
  .main-gradient {
    height: 60px;
  }
}

.banner {
  position: relative;
  height: 211px;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    height: 600px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 812px;
  }
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__content h1 {
  color: #fff;
  font-family: "Gotham Pro Medium";
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .banner__content {
    padding-left: 70px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner__content h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .banner__content h1 {
    font-size: 70px;
    line-height: 90px;
  }
}

.about-desc__container {
  max-width: 320px;
  padding: 36px 0;
}
.about__title {
  width: 200px;
  margin: 0px auto 16px auto;
}
.about__description {
  font-size: 12px;
  line-height: 15px;
}

@media (min-width: 768px) {
  .about-desc__container {
    padding: 123px 0;
    max-width: 950px;
  }
  .about__title {
    width: 700px;
    margin: 0px auto 72px auto;
  }
  .about__description {
    font-size: 40px;
    line-height: 45px;
  }
}

.about-swipe__container {
  width: 100%;
  height: 220px;
}

@media (min-width: 768px) {
  .about-swipe__container {
    height: 760px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 0;
}

.about-swipe__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.04),
      rgba(47, 48, 58, 0.04)
    ),
    url("../images/about-swipe-bg.jpg");
  background-size: cover;
  background-position: center;
}

.swiper-slide__cont {
  width: 220px;
  height: 171px;
  margin-left: 24px;
  padding: 8px;
  background-color: #fff;
}
.swiper-slide__cont p {
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .swiper-slide__cont {
    width: 490px;
    height: 440px;
    padding: 20px;
    margin-left: 44px;
  }
  .swiper-slide__cont p {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: 992px) {
  .swiper-slide__cont {
    width: 770px;
    height: 640px;
    padding: 30px;
    margin-left: 70px;
  }
  .swiper-slide__cont p {
    font-size: 40px;
    line-height: 45px;
  }
}

.swiper-pagination-custom {
  height: 200px;
  width: 30px;
  position: absolute;
  left: initial !important;
  right: 0px;
  top: 30px;
}

.bullet-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .swiper-pagination-custom {
    top: 50px;
    right: 54px;
  }

  .bullet-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
  }
}

.btn__to-form {
  padding: 0 15px;
  background-color: #fff;
  width: 160px;
  height: 40px;
  position: absolute;
  bottom: 14px;
  z-index: 1;
  text-transform: uppercase;
  border: 1px solid #000;
  transform: translateX(120%);
  font-size: 8px;
}

.btn__to-form:hover {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px !important;
}



@media (min-width: 768px){
  .btn__to-form {
    padding: 0 45px;
    width: 360px;
    height: 80px;
    bottom: 114px;
    transform: translateX(120%);
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 992px) {
  .btn__to-form {
    bottom: 34px;
    transform: translateX(160%);
  }
}


@media (min-width: 1111px) {
  .btn__to-form {
    transform: translateX(210%);
    font-size: 18px;
    line-height: 25px;
  }
}